@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');
.article-edit {
  margin: 100px 150px;
  form {
    width: 800px;
  }
  h2 {
    font-size: 24px;
    margin: 50px 0 20px;
  }
  .alias-list {
    display: flex;
  }
  textarea {
    width: 100%;
  }
}
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
